/* General Rules */
body {
    background-color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    color: #434455;
    padding: 0;
    margin: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}


/* navigation - hero section */
.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

span {
    color: #2e2f42;
}

header{
    height: 72px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-items{
    display: flex;
}

.nav-items ul{
    display: flex;
    gap: 40px;
}

.nav-item{
    color: #2e2f42;
}


header a {
    color: #434455;
    text-decoration: none;
}

header a:hover,
header a:focus {
    color: #404BBF;
}


.contact{
    font-style: normal;
}

.contact ul{
    display: flex;
    gap: 40px;
}

.contact-item{
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.hero {
    height: 600px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
    background-color: #2E2F42;
    color: white;
}

.hero .hero-text {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    height: 120px;
    width: 496px;
}

.hero .hero-button {
    color: white;
    background-color: #4D5AE5;
    border: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    width: 169px;
    height: 56px;
    border-radius: 4%;
}

.hero .hero-button:hover,
.hero .hero-button:focus {
    background-color: #404BBF;
    cursor: pointer;
}

/* About us section */

.hidden{
    display: none;
}
.about-us{
    height: 344px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.about-us ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.aboutus-item{
    width: 264px; 
    height: 104px;
}
.item-header{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.item-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}



/* Our Team section */
.our-team {
    background-color: #F4F4FD;
}

.our-team-header {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.ot-item {
    background-color: #ffffff;
}

.otitem-header{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.otitem-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* Our Portfolio section */
.portfolio-header{
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

/* Footer section */
.portfolio-card-text {
}

.portfolio-header {
    font-size: 36px;
}

.card-header{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.card-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}


/* Footer section */
.footer {
    background-color: #2E2F42;
    color: white;
}

.footer .footer-text {
    line-height: 1.5;
    color: #f4f4fd;
    letter-spacing: 0.02em;
}